include src/geone/lib_deesse_core/linux_old_py39/*
include src/geone/lib_deesse_core/linux_old_py310/*
include src/geone/lib_deesse_core/linux_old_py311/*
include src/geone/lib_deesse_core/linux_old_py312/*
include src/geone/lib_deesse_core/linux_old_py313/*
include src/geone/lib_deesse_core/linux_py39/*
include src/geone/lib_deesse_core/linux_py310/*
include src/geone/lib_deesse_core/linux_py311/*
include src/geone/lib_deesse_core/linux_py312/*
include src/geone/lib_deesse_core/linux_py313/*
include src/geone/lib_deesse_core/mac_arm64_py39/*
include src/geone/lib_deesse_core/mac_arm64_py310/*
include src/geone/lib_deesse_core/mac_arm64_py311/*
include src/geone/lib_deesse_core/mac_arm64_py312/*
include src/geone/lib_deesse_core/mac_arm64_py313/*
include src/geone/lib_deesse_core/mac_x86_64_py39/*
include src/geone/lib_deesse_core/mac_x86_64_py310/*
include src/geone/lib_deesse_core/mac_x86_64_py311/*
include src/geone/lib_deesse_core/mac_x86_64_py312/*
include src/geone/lib_deesse_core/mac_x86_64_py313/*
include src/geone/lib_deesse_core/win_py39/*
include src/geone/lib_deesse_core/win_py310/*
include src/geone/lib_deesse_core/win_py311/*
include src/geone/lib_deesse_core/win_py312/*
include src/geone/lib_deesse_core/win_py313/*
include src/geone/lib_geosclassic_core/linux_old_py39/*
include src/geone/lib_geosclassic_core/linux_old_py310/*
include src/geone/lib_geosclassic_core/linux_old_py311/*
include src/geone/lib_geosclassic_core/linux_old_py312/*
include src/geone/lib_geosclassic_core/linux_old_py313/*
include src/geone/lib_geosclassic_core/linux_py39/*
include src/geone/lib_geosclassic_core/linux_py310/*
include src/geone/lib_geosclassic_core/linux_py311/*
include src/geone/lib_geosclassic_core/linux_py312/*
include src/geone/lib_geosclassic_core/linux_py313/*
include src/geone/lib_geosclassic_core/mac_arm64_py39/*
include src/geone/lib_geosclassic_core/mac_arm64_py310/*
include src/geone/lib_geosclassic_core/mac_arm64_py311/*
include src/geone/lib_geosclassic_core/mac_arm64_py312/*
include src/geone/lib_geosclassic_core/mac_arm64_py313/*
include src/geone/lib_geosclassic_core/mac_x86_64_py39/*
include src/geone/lib_geosclassic_core/mac_x86_64_py310/*
include src/geone/lib_geosclassic_core/mac_x86_64_py311/*
include src/geone/lib_geosclassic_core/mac_x86_64_py312/*
include src/geone/lib_geosclassic_core/mac_x86_64_py313/*
include src/geone/lib_geosclassic_core/win_py39/*
include src/geone/lib_geosclassic_core/win_py310/*
include src/geone/lib_geosclassic_core/win_py311/*
include src/geone/lib_geosclassic_core/win_py312/*
include src/geone/lib_geosclassic_core/win_py313/*
